.book-list {
    padding: 10px;
    text-align: center;
    background-color: #202938;
    padding-bottom: 30px;
}


.book-list h2 {
    font-size: 25px;
    /* margin-bottom: 30px; */
    text-align: left;
    font-weight: bold;
    color: white;
}

.book-grid {
    display: flex;
    gap: 20px;
    justify-items: center;
    padding: 0 10px;
}

